/* Police en-ligne : doit être situé tout en haut du CSS */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Police importée */
@font-face {
    font-family: 'Ma police';
    src: url('../fonts/Harland\ Roselyn.ttf');
}

/* RAZ */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-agency {
    background: url('../img/background.jpg') fixed;
    background-size: cover;
    /* background-attachment: fixed; */
}

#container {
    background-color: #ffffff88;
    min-height: 100vh;
}

/* INDEX - EN-TETE */
#en-tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 7rem;
    margin: 1rem;
    transform: rotate(-15deg);
}

#title {
    font-family: 'Permanent Marker';
    font-size: 5rem;
    /* 4 valeurs : top / right / bottom / left */
    /* margin: 1rem 2rem 3rem 4rem;  */
    /* 3 valeurs : top bottom / right left */
    /* margin: 1rem 2rem 3rem;  */
    /* 2 valeurs : top bottom / right left */
    /* margin: 1rem 2rem;  */
    /* 1 valeur : top right bottom left */
    /* margin: 1rem;  */
    margin: 0 1rem 0 0;
}

/* INDEX - NAVBAR */
#menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu a {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 2rem;
    padding: .7rem;
    border-radius: .7rem;
    display: block;
    color: #000;
    border: #000 solid .5rem;
    background: #ffa500;
    transition: all 1s;
}

#menu a:hover {
    color: #ffa500;
    border: #ffa500 solid .5rem;
    background: #000;
}

/* INDEX - CAROUSEL */
#carousel {
    height: 25rem;
    /* width: 80vw;
    margin: 1rem auto; */
    text-align: center;
}

#carousel img {
    height: 100%;
    /* width: 100%; */
    /* filter: sepia(100%); */
}

/* INDEX - TEAM */
#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member {
    width: 20rem;
    border-radius: 1rem;
    margin: 1rem 0;
    border: solid #000 .25rem;
    box-shadow: 0 0 1rem #555;
}

.member img {
    width: 100%;
    border-radius: .75rem .75rem 0 0;
}

.member div {
    padding: 1rem;
    text-align: center;
}

.boy {
    background-color: #ff69b4;
}

.girl {
    background-color: #6495ed;
}

/* INDEX - MULTIMEDIA */
#multimedia,
#carousel {
    width: 80vw;
    margin: 1rem auto;
}

#multimedia video {
    width: 100%;
}

/* FORM */

#register,
#darkmode {
    width: 80vw;
    margin: 0 auto;
}

#darkmode {
    text-align: center;
}

#register div * {
    display: block;
    margin: .5rem 0;
}

#register div input,
#register div select,
#register div textarea {
    width: 100%;
    border-radius: .25rem;
    box-shadow: 0 0 .25rem #555;
}

.dark {
    background-color: #555;
    color: #eee;
    transition: all 1s;
}

.light {
    background-color: #eee;
    color: #555;
    transition: all 1s;
}